@import url('https://fonts.googleapis.com/css?family=Courgette');


body {
  margin: 20px;
  background:grey;
  background-image:url("https://static.vecteezy.com/system/resources/previews/000/109/252/non_2x/free-vector-casino-royale-background.jpg")
}

h1 {
  font-family: 'Courgette', cursive;
}
.card {
  display: inline-block;
  margin: 3px;
  width: 100px;
}

.cardImages{
  height:150px;
  margin:10px;
  transition: all .2s ease-in-out;
}

.cardImages:hover {
  transform: scale(1.1);
}



.hold {
  border: 3px solid green;
  border-radius: 5px;
}

#bet {
  height:30px;
  /* border:1px solid black; */
 
}

#bank {
  height:30px;
 width:50%;
color:black;
 font-size: 20px;
 border:3px solid black;

}
#deal {

}

/* .container {
  border:1px solid;
 
} */

.jumbotron {
  background:#F1BA41;
  border:10px ridge red;
}

.parent {
  display:flex;
  justify-content:center;
  height:300px;
  align-items:center;
}


.bg {
  margin:30px;
  background-image:url("http://images.all-free-download.com/images/graphiclarge/blurred_golden_background_192849.jpg");
  background-size:cover;
  background-position:center;
  width:90%;
  border:10px ridge red;
}
}