body {
	margin: 20px;
}

.card {
  display: inline-block;
  margin: 3px;
  width: 100px;
}

.cardImage{
  height:100px;
  margin:10px;
}

.hold {
  border: 3px solid green;
  border-radius: 5px;
}

.bet-btn {
  height:30px;
  border:1px solid black;
}